In [1]:
#Como los databases estan en archivos en sqlite, no necesito credenciales. Uso magic commands que usan sqlalchemy 
#pero no necesito importar sqlialchemy completa
import sqlite3
#para manipular data y llenar las tablas en sql
import pandas as pd
#para manipular archivos
import os

#para los magic commands si necesito prettytable
import prettytable
# Set the default display format for prettytable to 'DEFAULT' (i.e., a simple table format)
prettytable.DEFAULT = 'DEFAULT'
#cargo la extension para poder hacer magic commands
%load_ext sql

In [9]:
#si aun no existe, creo el database chicago, que tendra las tres tablas del proyecto
db_name = 'chicago.db'
db_exists = os.path.exists(db_name)
#si ya existe, se conecta, si no existia, lo crea y se conecta
conn = sqlite3.connect("chicago.db")
cur = conn.cursor()
#seteo al magic command para trabajar con este database 
%sql sqlite:///chicago.db

if db_exists:
    print("El database ya existia, y tiene las siguientes tablas:")
    res = %sql SELECT name FROM sqlite_master WHERE type='table';
    print(res)
else:
    print("El database no existia y fue creado")

El database ya existia, y tiene las siguientes tablas:
 * sqlite:///chicago.db
Done.
+----------------------------+
|            name            |
+----------------------------+
| chicago_socioeconomic_data |
|       school_chicago       |
|     chicago_crime_data     |
+----------------------------+

In [5]:
#creo las tres tablas, leyendolas de los csv en la carpeta data en este directorio
dir_data = ["./data/ChicagoCensusData.csv", "./data/ChicagoPublicSchools.csv", "./data/ChicagoCrimeData.csv"]
nombres_tablas = ['chicago_socioeconomic_data', 'school_chicago', 'chicago_crime_data']
for i in range(len(dir_data)):
    if os.path.exists(dir_data[i]):
        pd.read_csv(dir_data[i]).to_sql(nombres_tablas[i], conn, if_exists='replace', index=False)
        print(f"La tabla {nombres_tablas[i]} fue creada satisfactoriamente")
    else:
        print("La direccion de la data no existe")

La tabla chicago_socioeconomic_data fue creada satisfactoriamente
La tabla school_chicago fue creada satisfactoriamente
La tabla chicago_crime_data fue creada satisfactoriamente

In [8]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///chicago.db
Done.

[('chicago_socioeconomic_data',), ('school_chicago',), ('chicago_crime_data',)]

### Analisis exploratorio de las tablas

In [10]:
#exploro las propiedades de las tablas en el database
for tabla in nombres_tablas:
    query = f"PRAGMA table_info('{tabla}');";
    res = %sql $query
    print(tabla)
    print(res)

 * sqlite:///chicago.db
Done.
chicago_socioeconomic_data
+-----+----------------------------------------------+---------+---------+------------+----+
| cid |                     name                     |   type  | notnull | dflt_value | pk |
+-----+----------------------------------------------+---------+---------+------------+----+
|  0  |            COMMUNITY_AREA_NUMBER             |   REAL  |    0    |    None    | 0  |
|  1  |             COMMUNITY_AREA_NAME              |   TEXT  |    0    |    None    | 0  |
|  2  |          PERCENT_OF_HOUSING_CROWDED          |   REAL  |    0    |    None    | 0  |
|  3  |       PERCENT_HOUSEHOLDS_BELOW_POVERTY       |   REAL  |    0    |    None    | 0  |
|  4  |         PERCENT_AGED_16__UNEMPLOYED          |   REAL  |    0    |    None    | 0  |
|  5  | PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA |   REAL  |    0    |    None    | 0  |
|  6  |       PERCENT_AGED_UNDER_18_OR_OVER_64       |   REAL  |    0    |    None    | 0  |
|  7  |              PER_CAPITA_INCOME               | INTEGER |    0    |    None    | 0  |
|  8  |                HARDSHIP_INDEX                |   REAL  |    0    |    None    | 0  |
+-----+----------------------------------------------+---------+---------+------------+----+
 * sqlite:///chicago.db
Done.
school_chicago
+-----+--------------------------------------------------+---------+---------+------------+----+
| cid |                       name                       |   type  | notnull | dflt_value | pk |
+-----+--------------------------------------------------+---------+---------+------------+----+
|  0  |                    School_ID                     | INTEGER |    0    |    None    | 0  |
|  1  |                  NAME_OF_SCHOOL                  |   TEXT  |    0    |    None    | 0  |
|  2  |        Elementary, Middle, or High School        |   TEXT  |    0    |    None    | 0  |
|  3  |                  Street_Address                  |   TEXT  |    0    |    None    | 0  |
|  4  |                       City                       |   TEXT  |    0    |    None    | 0  |
|  5  |                      State                       |   TEXT  |    0    |    None    | 0  |
|  6  |                     ZIP_Code                     | INTEGER |    0    |    None    | 0  |
|  7  |                   Phone_Number                   |   TEXT  |    0    |    None    | 0  |
|  8  |                       Link                       |   TEXT  |    0    |    None    | 0  |
|  9  |                 Network_Manager                  |   TEXT  |    0    |    None    | 0  |
|  10 |                Collaborative_Name                |   TEXT  |    0    |    None    | 0  |
|  11 |          Adequate_Yearly_Progress_Made_          |   TEXT  |    0    |    None    | 0  |
|  12 |                  Track_Schedule                  |   TEXT  |    0    |    None    | 0  |
|  13 |          CPS_Performance_Policy_Status           |   TEXT  |    0    |    None    | 0  |
|  14 |           CPS_Performance_Policy_Level           |   TEXT  |    0    |    None    | 0  |
|  15 |             HEALTHY_SCHOOL_CERTIFIED             |   TEXT  |    0    |    None    | 0  |
|  16 |                   Safety_Icon                    |   TEXT  |    0    |    None    | 0  |
|  17 |                   SAFETY_SCORE                   |   REAL  |    0    |    None    | 0  |
|  18 |             Family_Involvement_Icon              |   TEXT  |    0    |    None    | 0  |
|  19 |             Family_Involvement_Score             |   TEXT  |    0    |    None    | 0  |
|  20 |                 Environment_Icon                 |   TEXT  |    0    |    None    | 0  |
|  21 |                Environment_Score                 |   REAL  |    0    |    None    | 0  |
|  22 |                 Instruction_Icon                 |   TEXT  |    0    |    None    | 0  |
|  23 |                Instruction_Score                 |   REAL  |    0    |    None    | 0  |
|  24 |                   Leaders_Icon                   |   TEXT  |    0    |    None    | 0  |
|  25 |                  Leaders_Score                   |   TEXT  |    0    |    None    | 0  |
|  26 |                  Teachers_Icon                   |   TEXT  |    0    |    None    | 0  |
|  27 |                  Teachers_Score                  |   TEXT  |    0    |    None    | 0  |
|  28 |              Parent_Engagement_Icon              |   TEXT  |    0    |    None    | 0  |
|  29 |             Parent_Engagement_Score              |   TEXT  |    0    |    None    | 0  |
|  30 |             Parent_Environment_Icon              |   TEXT  |    0    |    None    | 0  |
|  31 |             Parent_Environment_Score             |   TEXT  |    0    |    None    | 0  |
|  32 |            AVERAGE_STUDENT_ATTENDANCE            |   TEXT  |    0    |    None    | 0  |
|  33 |      Rate_of_Misconducts__per_100_students_      |   REAL  |    0    |    None    | 0  |
|  34 |            Average_Teacher_Attendance            |   TEXT  |    0    |    None    | 0  |
|  35 | Individualized_Education_Program_Compliance_Rate |   TEXT  |    0    |    None    | 0  |
|  36 |                 Pk_2_Literacy__                  |   TEXT  |    0    |    None    | 0  |
|  37 |                   Pk_2_Math__                    |   TEXT  |    0    |    None    | 0  |
|  38 |             Gr3_5_Grade_Level_Math__             |   TEXT  |    0    |    None    | 0  |
|  39 |             Gr3_5_Grade_Level_Read__             |   TEXT  |    0    |    None    | 0  |
|  40 |              Gr3_5_Keep_Pace_Read__              |   TEXT  |    0    |    None    | 0  |
|  41 |              Gr3_5_Keep_Pace_Math__              |   TEXT  |    0    |    None    | 0  |
|  42 |             Gr6_8_Grade_Level_Math__             |   TEXT  |    0    |    None    | 0  |
|  43 |             Gr6_8_Grade_Level_Read__             |   TEXT  |    0    |    None    | 0  |
|  44 |              Gr6_8_Keep_Pace_Math_               |   TEXT  |    0    |    None    | 0  |
|  45 |              Gr6_8_Keep_Pace_Read__              |   TEXT  |    0    |    None    | 0  |
|  46 |               Gr_8_Explore_Math__                |   TEXT  |    0    |    None    | 0  |
|  47 |               Gr_8_Explore_Read__                |   TEXT  |    0    |    None    | 0  |
|  48 |              ISAT_Exceeding_Math__               |   REAL  |    0    |    None    | 0  |
|  49 |             ISAT_Exceeding_Reading__             |   REAL  |    0    |    None    | 0  |
|  50 |               ISAT_Value_Add_Math                |   REAL  |    0    |    None    | 0  |
|  51 |               ISAT_Value_Add_Read                |   REAL  |    0    |    None    | 0  |
|  52 |            ISAT_Value_Add_Color_Math             |   TEXT  |    0    |    None    | 0  |
|  53 |            ISAT_Value_Add_Color_Read             |   TEXT  |    0    |    None    | 0  |
|  54 |            Students_Taking__Algebra__            |   TEXT  |    0    |    None    | 0  |
|  55 |           Students_Passing__Algebra__            |   TEXT  |    0    |    None    | 0  |
|  56 |             9th Grade EXPLORE (2009)             |   TEXT  |    0    |    None    | 0  |
|  57 |             9th Grade EXPLORE (2010)             |   TEXT  |    0    |    None    | 0  |
|  58 |              10th Grade PLAN (2009)              |   TEXT  |    0    |    None    | 0  |
|  59 |              10th Grade PLAN (2010)              |   TEXT  |    0    |    None    | 0  |
|  60 |           Net_Change_EXPLORE_and_PLAN            |   TEXT  |    0    |    None    | 0  |
|  61 |          11th Grade Average ACT (2011)           |   TEXT  |    0    |    None    | 0  |
|  62 |             Net_Change_PLAN_and_ACT              |   TEXT  |    0    |    None    | 0  |
|  63 |              College_Eligibility__               |   TEXT  |    0    |    None    | 0  |
|  64 |                Graduation_Rate__                 |   TEXT  |    0    |    None    | 0  |
|  65 |            College_Enrollment_Rate__             |   TEXT  |    0    |    None    | 0  |
|  66 |                COLLEGE_ENROLLMENT                | INTEGER |    0    |    None    | 0  |
|  67 |              General_Services_Route              | INTEGER |    0    |    None    | 0  |
|  68 |             Freshman_on_Track_Rate__             |   TEXT  |    0    |    None    | 0  |
|  69 |                   X_COORDINATE                   |   REAL  |    0    |    None    | 0  |
|  70 |                   Y_COORDINATE                   |   REAL  |    0    |    None    | 0  |
|  71 |                     Latitude                     |   REAL  |    0    |    None    | 0  |
|  72 |                    Longitude                     |   REAL  |    0    |    None    | 0  |
|  73 |              COMMUNITY_AREA_NUMBER               | INTEGER |    0    |    None    | 0  |
|  74 |               COMMUNITY_AREA_NAME                |   TEXT  |    0    |    None    | 0  |
|  75 |                       Ward                       | INTEGER |    0    |    None    | 0  |
|  76 |                 Police_District                  | INTEGER |    0    |    None    | 0  |
|  77 |                     Location                     |   TEXT  |    0    |    None    | 0  |
+-----+--------------------------------------------------+---------+---------+------------+----+
 * sqlite:///chicago.db
Done.
chicago_crime_data
+-----+-----------------------+---------+---------+------------+----+
| cid |          name         |   type  | notnull | dflt_value | pk |
+-----+-----------------------+---------+---------+------------+----+
|  0  |           ID          | INTEGER |    0    |    None    | 0  |
|  1  |      CASE_NUMBER      |   TEXT  |    0    |    None    | 0  |
|  2  |          DATE         |   TEXT  |    0    |    None    | 0  |
|  3  |         BLOCK         |   TEXT  |    0    |    None    | 0  |
|  4  |          IUCR         |   TEXT  |    0    |    None    | 0  |
|  5  |      PRIMARY_TYPE     |   TEXT  |    0    |    None    | 0  |
|  6  |      DESCRIPTION      |   TEXT  |    0    |    None    | 0  |
|  7  |  LOCATION_DESCRIPTION |   TEXT  |    0    |    None    | 0  |
|  8  |         ARREST        | INTEGER |    0    |    None    | 0  |
|  9  |        DOMESTIC       | INTEGER |    0    |    None    | 0  |
|  10 |          BEAT         | INTEGER |    0    |    None    | 0  |
|  11 |        DISTRICT       | INTEGER |    0    |    None    | 0  |
|  12 |          WARD         |   REAL  |    0    |    None    | 0  |
|  13 | COMMUNITY_AREA_NUMBER |   REAL  |    0    |    None    | 0  |
|  14 |        FBICODE        |   TEXT  |    0    |    None    | 0  |
|  15 |      X_COORDINATE     |   REAL  |    0    |    None    | 0  |
|  16 |      Y_COORDINATE     |   REAL  |    0    |    None    | 0  |
|  17 |          YEAR         | INTEGER |    0    |    None    | 0  |
|  18 |        LATITUDE       |   REAL  |    0    |    None    | 0  |
|  19 |       LONGITUDE       |   REAL  |    0    |    None    | 0  |
|  20 |        LOCATION       |   TEXT  |    0    |    None    | 0  |
+-----+-----------------------+---------+---------+------------+----+

### Problemas

1- Find the total number of crimes recorded in the CRIME table.

In [11]:
%sql SELECT COUNT(ID) FROM chicago_crime_data;

 * sqlite:///chicago.db
Done.

[(533,)]

3- List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [13]:
#%sql SELECT * FROM chicago_crime_data WHERE primary_type LIKE '%CHILD%' OR description LIKE '%CHILD%';
%sql SELECT * FROM chicago_crime_data WHERE primary_type LIKE '%MINOR%' OR description LIKE '%MINOR%';

 * sqlite:///chicago.db
Done.

[(3987219, 'HL266884', '2005-03-31', '024XX N CLARK ST', '2210', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 1, 0, 2333, 19, 43.0, 7.0, '22', 1172680.0, 1916483.0, 2005, 41.92626872, -87.64089934, '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', '2004-03-13', '093XX S STONY ISLAND AVE', '2230', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 1, 0, 413, 4, 8.0, 48.0, '22', 1188539.0, 1843379.0, 2004, 41.72530099, -87.58496589, '(41.72530099, -87.584965887)')]