In [1]:
#importo librerias necesarias
#!pip install ipython-sql
# Install the 'ipython-sql' and 'prettytable' libraries using pip
#!pip install ipython-sql prettytable

#importo sqlaclhemy
from sqlalchemy import create_engine
# Import the 'prettytable' library, which is used to display data in a formatted table
import prettytable
#para obtener el password de las environment variables
import os

# Set the default display format for prettytable to 'DEFAULT' (i.e., a simple table format)
prettytable.DEFAULT = 'DEFAULT'
#cargo la extension de la libreria sql alchemy, para poder hacer magic commands
%load_ext sql

Necesitamos la libreria prettytable para que los comandos magic sql (%sql y %%sql) puedan devolver tablas formateadas

In [2]:
psw = os.getenv("MYSQL_PSW")
DATABASE_URL_mysql = f"mysql+mysqlconnector://root:{psw}@127.0.0.1:3306/exampleDB"

try:
    engine_mysql = create_engine(DATABASE_URL_mysql)
    connection_mysql = engine_mysql.connect()
    #%sql str(engine_mysql.url) Por algun motivo esto no funciona. Tampoco ponerlo entre curly brackets, como dice chatgpt. Lo mejor es pasarle la string RAW
    %sql $DATABASE_URL_mysql
    print(f"Connected successfully to {str(engine_mysql.url)}!")
except Exception as e:
    print(f"Connection to {str(engine_mysql.url)} failed:", e)

#for i in range(1, 10):
 #   a = f"""
  #      INSERT INTO usersNuevo (user_first, user_last, user_email, user_uid, user_pwd)
   #     VALUES ('usuario_{i}','smith_{i}','smith_{i}@hotmail.com', 'smth_{i}', 'smth_{i*2}');
    #    """
   # %sql $a

tabla_mysql = "usersNuevo"
usuarios = %sql SELECT * FROM usersNuevo LIMIT 10;
print(usuarios)
connection_mysql.close()

Connected successfully to mysql+mysqlconnector://root:***@127.0.0.1:3306/exampleDB!
 * mysql+mysqlconnector://root:***@127.0.0.1:3306/exampleDB
10 rows affected.
+---------+------------+-----------+---------------------+----------+-----------+
| user_id | user_first | user_last |      user_email     | user_uid |  user_pwd |
+---------+------------+-----------+---------------------+----------+-----------+
|    1    |   Danna    |   Silvio  |  rockstar@gmail.com |   fn12   | 123prueba |
|    2    |   Daniel   | Rodriguez |  dmontiel@gmail.com |   hla1   |  user123  |
|    3    |   Andre    |   Campo   |     as@gmail.com    |  as123   |   pass12  |
|    4    |    Mari    |   Athens  |     ma@gmail.com    | mari231  |   desa45  |
|    5    |    Lupe    |    Zeng   |     lp@gmail.com    |  lup58   |   ret35   |
|    6    | usuario_0  |  smith_0  | smith_0@hotmail.com |  smth_0  |   smth_0  |
|    7    | usuario_1  |  smith_1  | smith_1@hotmail.com |  smth_1  |   smth_2  |
|    8    | usuario_2  |  smith_2  | smith_2@hotmail.com |  smth_2  |   smth_4  |
|    9    | usuario_3  |  smith_3  | smith_3@hotmail.com |  smth_3  |   smth_6  |
|    10   | usuario_4  |  smith_4  | smith_4@hotmail.com |  smth_4  |   smth_8  |
+---------+------------+-----------+---------------------+----------+-----------+

### Para crear o consultar columnas con espacios o caracteres especiales

Cuando las columnas del database contienen espacios o caracteres especiales, usamos comillas invertidas para enmarcar a dicha columna en mysql (en otros Relataional Database Management Systems (RDMS) como postgres o sqlite se usan ' y ")

Mysql usa "" para los valores que se insertan en el database. Usar ' no funcionara, a menos que sea una string de python que le paso al cursor o al pd.read_sql(), como hice en el for loop para insertar muchos registros en la tabla de usuarios.

In [6]:
%%sql

CREATE TABLE perros(
    `nombre perro` VARCHAR(50),
    `raza de perro` VARCHAR(50)
)

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/exampleDB
0 rows affected.

[]

Hacemos lo mismo para hacer queries sobre esas columnas. Si usamos ' o " para columnas, no va a funcionar en mysql.

In [9]:
%sql INSERT INTO perros(`nombre perro`, `raza de perro`) VALUES ("Pablo", "Labrador");

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/exampleDB
1 rows affected.

[]

### Para ver las tablas en el database

In [14]:
%sql SHOW TABLES;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/exampleDB
4 rows affected.

[('Horarios',), ('Info_usuarios',), ('perros',), ('usersNuevo',)]

### Para obtener mas info de las tablas

In [17]:
%sql DESCRIBE Horarios;

 * mysql+mysqlconnector://root:***@127.0.0.1:3306/exampleDB
4 rows affected.

[('id_registro', 'bigint unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('fecha', 'date', 'NO', '', None, ''),
 ('fecha_hora', 'datetime', 'NO', '', None, ''),
 ('fecha_hora_esp', 'timestamp', 'NO', '', None, '')]