In [18]:
import prettytable
prettytable.DEFAULT = 'DEFAULT'
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
import sqlite3

con = sqlite3.connect("chicago.db")
%sql sqlite:///chicago.db

In [3]:
import pandas as pd

In [6]:
#llenamos la base de datos
df = pd.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
df.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False,method="multi")

78

In [9]:
df.columns

Index(['ca', 'community_area_name', 'percent_of_housing_crowded',
       'percent_households_below_poverty', 'percent_aged_16_unemployed',
       'percent_aged_25_without_high_school_diploma',
       'percent_aged_under_18_or_over_64', 'per_capita_income_',
       'hardship_index'],
      dtype='object')

In [19]:
%%sql

SELECT COUNT(*) FROM chicago_socioeconomic_data;

 * sqlite:///chicago.db
Done.

[(78,)]

In [20]:
df['ca'].describe

<bound method NDFrame.describe of 0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
      ...
73    74.0
74    75.0
75    76.0
76    77.0
77     NaN
Name: ca, Length: 78, dtype: float64>

In [21]:
%%sql

SELECT COUNT(*) FROM chicago_socioeconomic_data WHERE hardship_index > 50

 * sqlite:///chicago.db
Done.

[(38,)]

In [29]:
maximo = %sql SELECT MAX(hardship_index) FROM chicago_socioeconomic_data;
print(maximo)
print(maximo*2)

 * sqlite:///chicago.db
Done.
+---------------------+
| MAX(hardship_index) |
+---------------------+
|         98.0        |
+---------------------+
[(98.0,), (98.0,)]

In [30]:
help(maximo)

Help on ResultSet in module sql.run object:

class ResultSet(builtins.list, sql.column_guesser.ColumnGuesserMixin)
 |  ResultSet(sqlaproxy, config)
 |
 |  Results of a SQL query.
 |
 |  Can access rows listwise, or by string value of leftmost column.
 |
 |  Method resolution order:
 |      ResultSet
 |      builtins.list
 |      sql.column_guesser.ColumnGuesserMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  DataFrame(self)
 |      Returns a Pandas DataFrame instance built from the result set.
 |
 |  __getitem__(self, key)
 |      Access by integer (row position within result set)
 |      or by string (value of leftmost column)
 |
 |  __init__(self, sqlaproxy, config)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self, *arg, **kwarg)
 |      Return str(self).
 |
 |  bar(self, key_word_sep=' ', title=None, **kwargs)
 |      Generates a pylab bar plot from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      The last quantitative column is taken as the Y values;
 |      all other columns are combined to label the X axis.
 |
 |      Parameters
 |      ----------
 |      title: Plot title, defaults to names of Y value columns
 |      key_word_sep: string used to separate column values
 |                    from each other in labels
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.bar``.
 |
 |  csv(self, filename=None, **format_params)
 |      Generate results in comma-separated form.  Write to ``filename`` if given.
 |      Any other parameters will be passed on to csv.writer.
 |
 |  dict(self)
 |      Returns a single dict built from the result set
 |
 |      Keys are column names; values are a tuple
 |
 |  dicts(self)
 |      Iterator yielding a dict for each row
 |
 |  pie(self, key_word_sep=' ', title=None, **kwargs)
 |      Generates a pylab pie chart from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      Values (pie slice sizes) are taken from the
 |      rightmost column (numerical values required).
 |      All other columns are used to label the pie slices.
 |
 |      Parameters
 |      ----------
 |      key_word_sep: string used to separate column values
 |                    from each other in pie labels
 |      title: Plot title, defaults to name of value column
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.pie``.
 |
 |  plot(self, title=None, **kwargs)
 |      Generates a pylab plot from the result set.
 |
 |      ``matplotlib`` must be installed, and in an
 |      IPython Notebook, inlining must be on::
 |
 |          %%matplotlib inline
 |
 |      The first and last columns are taken as the X and Y
 |      values.  Any columns between are ignored.
 |
 |      Parameters
 |      ----------
 |      title: Plot title, defaults to names of Y value columns
 |
 |      Any additional keyword arguments will be passsed
 |      through to ``matplotlib.pylab.plot``.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.list:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.list:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from builtins.list:
 |
 |  __new__(*args, **kwargs) class method of builtins.list
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from builtins.list:
 |
 |  __hash__ = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sql.column_guesser.ColumnGuesserMixin:
 |
 |  guess_pie_columns(self, xlabel_sep=' ')
 |      Assigns x, y, and x labels from the data set for a pie chart.
 |
 |      Pie charts simply use the last quantity column as
 |      the pie slice size, and everything else as the
 |      pie slice labels.
 |
 |  guess_plot_columns(self)
 |      Assigns ``x`` and ``y`` series from the data set for a plot.
 |
 |      Plots use:
 |        the rightmost quantity column as a Y series
 |        optionally, the leftmost quantity column as the X series
 |        any other quantity columns as additional Y series

In [36]:
res = %sql SELECT * FROM chicago_socioeconomic_data GROUP BY ca ORDER BY hardship_index DESC LIMIT 1;
print(res)

 * sqlite:///chicago.db
Done.
+------+---------------------+----------------------------+----------------------------------+----------------------------+---------------------------------------------+----------------------------------+--------------------+----------------+
|  ca  | community_area_name | percent_of_housing_crowded | percent_households_below_poverty | percent_aged_16_unemployed | percent_aged_25_without_high_school_diploma | percent_aged_under_18_or_over_64 | per_capita_income_ | hardship_index |
+------+---------------------+----------------------------+----------------------------------+----------------------------+---------------------------------------------+----------------------------------+--------------------+----------------+
| 54.0 |      Riverdale      |            5.8             |               56.5               |            34.6            |                     27.5                    |               51.5               |        8201        |      98.0      |
+------+---------------------+----------------------------+----------------------------------+----------------------------+---------------------------------------------+----------------------------------+--------------------+----------------+

In [37]:
cant_registros = %sql SELECT COUNT(*) FROM chicago_socioeconomic_data;
cant_ca = %sql SELECT COUNT(DISTINCT(ca)) FROM chicago_socioeconomic_data;

 * sqlite:///chicago.db
Done.
 * sqlite:///chicago.db
Done.

In [38]:
print(cant_registros, cant_ca)

+----------+
| COUNT(*) |
+----------+
|    78    |
+----------+ +---------------------+
| COUNT(DISTINCT(ca)) |
+---------------------+
|          77         |
+---------------------+

Esto demuestra que no hay repetidos, son todos ca distintas. Eso simplifica el codigo, no necesito agrupar los registros por ca

In [43]:
res = %sql SELECT community_area_name FROM chicago_socioeconomic_data ORDER BY hardship_index DESC LIMIT 1;
print(res)

 * sqlite:///chicago.db
Done.
+---------------------+
| community_area_name |
+---------------------+
|      Riverdale      |
+---------------------+

In [66]:
mxm = str(maximo.pop()[0])
print(mxm)

IndexError: pop from empty list

In [71]:
#otra forma es usar el resultado del maximo hardship index ontenido en el ejercicio 2
maximo = %sql SELECT MAX(hardship_index) FROM chicago_socioeconomic_data;
#o lo que es lo mismo
maximo1 = %sql SELECT hardship_index FROM chicago_socioeconomic_data ORDER BY hardship_index DESC LIMIT 1;
#maximo es un result set, es un iterador.
#hago pop para quedarme con el primer resultado, el unico. 
mxm = str(maximo.pop()[0])
print(mxm)
res = %sql SELECT community_area_name FROM chicago_socioeconomic_data WHERE hardship_index = :mxm;
print(res)

 * sqlite:///chicago.db
Done.
 * sqlite:///chicago.db
Done.
98.0
 * sqlite:///chicago.db
Done.
+---------------------+
| community_area_name |
+---------------------+
|      Riverdale      |
+---------------------+